= form_with model: doctor do |form|
  - if doctor.errors.any?
    %ul
      - doctor.each.full_messages.each do |message|
        %ls = message

  %div 
    = form.label :Name
    = form.text_field :name
  
  %div
    = form.label :Age
    = form.number_field :age

  %div
    = form.lable :Gender
    = form.select :gender, ["Male", "Female", "Other"]

  %div
    = form.submit
