- if notice
  %p{style: "color: red;"}
  = notice

%h1 Hospitals
= link_to "New Hospital", new_hospital_path

%table{border: "1"}
  %thead
    %tr
      %th Name
      %th{ colspan: "3"} Actions

  %tbody
    - @hospitals.each do |hospital|
      %tr
        %td= hospital.name
        %td= link_to "Show", hospital_path(hospital)
        %td= link_to "Edit", edit_hospital_path(hospital)
        %td= link_to "Delete", hospital_path(hospital), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
