%h1 Appointment Details

%p
  %strong Patient:
  = @appointment.patient.name

%p
  %strong Doctor:
  = @appointment.doctor.name

%p
  %strong Reason:
  = @appointment.reason

%p
  %strong Appointment date:
  = @appointment.appointment_date

= link_to "Edit", edit_appointment_path(@appointment)
= link_to "Back", appointments_path