!!!
%html
  %head
    %title= content_for(:title) || "New Hospital Management"
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}

    = csrf_meta_tags
    = csp_meta_tag

    = yield :head

    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_importmap_tags

  %body
    = render "layouts/navbar"

    = yield
